/* OAuth */
#kc-oauth {
  h3 {
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--300);
      font-size: var(--pf-global--FontSize--sm);
      padding: var(--pf-global--spacer--md) 0;

      &:first-of-type {
        border-top: 0;
      }
    }
  }

  .kc-role {
    display: inline-block;
    width: 50%;
  }
}
