#kc-attempted-username {
  font-size: var(--pf-global--FontSize--xl);
  font-family: inherit;
  font-weight: normal;
  padding-right: var(--pf-global--spacer--sm);
  margin-bottom: 0;
}

#kc-username {
  text-align: center;
}
