#kc-header {
  overflow: visible;
  white-space: nowrap;

  @media (max-width: 767px) {
    float: none;
    text-align: left;
  }

  &-wrapper {
    font-size: var(--pf-global--FontSize--2xl);
    text-transform: uppercase;
    padding-top: var(--pf-global--spacer--4xl);
    white-space: normal;

    @media (max-width: 767px) {
      font-size: var(--pf-global--FontSize--xl);
      font-weight: bold;
      padding-top: 0;
      padding-right: var(--pf-global--spacer--4xl);
      letter-spacing: 0;
    }
  }
}
