/* Social */
.kc-social {
  &-links {
    margin-top: var(--pf-global--spacer--lg);
  
    li {
      width: 100%;
    }
  }
  &-provider-logo {
    font-size: var(--pf-global--FontSize--lg);
    width: 30px;
    height: 25px;
    float: left;
  }
  &-gray {
    color: var(--pf-global--Color--200);
  }
  &-item {
    margin-bottom: var(--pf-global--spacer--sm);
    font-size: var(--pf-global--FontSize--md);
    text-align: center;
  }
  &-provider-name {
    position: relative;
  }
  &-icon-text {
    left: calc( var(--pf-global--spacer--md) * -1);
  }
  &-grid {
    display: grid;
    grid-column-gap: var(--pf-global--spacer--md);
    grid-row-gap: var(--pf-global--spacer--sm);
    grid-column-end: span 6;
    --pf-l-grid__item--GridColumnEnd: span 6;

    @media (max-width: 767px) {
      grid-column-end: 12;
      --pf-l-grid__item--GridColumnEnd: span 12;
    }
  
    .kc-social-icon-text {
      left: calc( var(--pf-global--spacer--md) * -1);
    }
  }
  &-section {
    text-align: center;
  
    hr {
      margin-bottom: var(--pf-global--spacer--sm);
    }
  }
}
