#kc-locale {
  ul {
    background-color: var(--pf-global--BackgroundColor--100);
    display: none;
    top: var(--pf-global--spacer--lg);
    min-width: 100px;
    padding: 0;
  }
  &-dropdown {
    display: inline-block;
  
    &:hover ul {
      display: block;
    }
  
    a {
      color: var(--pf-global--Color--200);
      font-size: var(--pf-global--FontSize--sm);
    }
  }
  @media (min-width: 768px) {
    position: relative;
    text-align: right;
    z-index: 9999;
  }
  @media (max-width: 767px) {
    position: absolute;
    width: 200px;
    top: var(--pf-global--spacer--lg);
    right: var(--pf-global--spacer--md);
    text-align: right;
    z-index: 9999;
  }
}

a#kc-current-locale-link::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: var(--pf-global--spacer--xs);
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23657167" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 10l5 5 5-5H7z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
