#kc-content {
  width: 100%;

  &-wrapper {

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    *[class^="col-"] {
      padding-right: 0;
      padding-left: 0;
    }

    .pf-c-button {
      margin-bottom: var(--pf-global--spacer--md);
    }

    .pf-c-alert {
      margin-bottom: var(--pf-global--spacer--lg);
    }
  }

}
