/* TOTP */
.subtitle {
  text-align: right;
  margin-top: var(--pf-global--spacer--xl);
  color: var(--pf-global--Color--200);
}

.required {
  color: var(--pf-global--danger-color--100);
}

#kc-totp {
  &-settings {
    padding-left: var(--pf-global--spacer--md);
    font-size: var(--pf-global--FontSize--sm);
    margin-bottom:  var(--pf-global--spacer--xl);

    > li {
      margin-bottom:  var(--pf-global--spacer--md);
    }
  }
  &-supported-apps {
    margin-bottom: var(--pf-global--spacer--sm);
  }
  &-secret {
    &-qr-code {
      max-width: 150px;
      max-height: 150px;
    }
    &-key {
      background-color: var(--pf-global--BackgroundColor--200);
      color: var(--pf-global--Color--300);
      font-size: var(--pf-global--FontSize--md);
      padding: var(--pf-global--spacer--sm);
      border-radius: var(--pf-global--BorderRadius--sm);
    }
  }
}
