/* Code */
#kc-code {
  textarea {
    width: 100%;
    height: 8em;
  }
}

/* Recovery codes */
.kc-recovery-codes {
  &-warning {
    margin-bottom: var(--pf-global--spacer--xl);
  
    .pf-c-alert__description p {
      font-size: var(--pf-global--FontSize--sm);
    }
  }
  &-list {
    list-style: none;
    columns: 2;
    margin: var(--pf-global--spacer--md) 0;
    padding: var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--sm) var(--pf-global--spacer--md);
    border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--300);
  
    li {
      margin-bottom: var(--pf-global--spacer--sm);
      font-size: var(--pf-global--FontSize--xs);
  
      span {
        color: var(--pf-global--Color--200);
        width: var(--pf-global--spacer--md);
        text-align: right;
        display: inline-block;
        margin-right: 1px;
      }
    }
  }
  &-actions {
    margin-bottom: var(--pf-global--spacer--lg);
  
    button {
      padding-left: 0;
  
      i {
        margin-right: var(--pf-global--spacer--sm);
      }
    }
  }
  &-confirmation {
    align-items: baseline;
    margin-bottom: var(--pf-global--spacer--md);
  }
}
