.kc-login-tooltip {
  position: relative;
  display: inline-block;

  .kc-tooltip-text {
    top: -8px;
    right: 160%;
    background-color: var(--pf-global--BackgroundColor--dark-100);
    visibility: hidden;
    color: var(--pf-global--Color--light-300);
    min-width: 130px;
    text-align: center;
    border-radius: var(--pf-global--BorderRadius--sm);
    box-shadow: var(--pf-global--BoxShadow--md);
    padding: var(--pf-global--spacer--sm);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;

    &::after {
      content: " ";
      position: absolute;
      top: 18px;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent var(--pf-global--BackgroundColor--dark-100);
    }
  }

  &:hover .kc-tooltip-text {
    visibility: visible;
    opacity: 0.7;
  }

}
