.kc-logo {
  width: 100%;

  &-text {
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 320px;
    margin: 0 auto;

    @media (max-width: 767px) {
      background-position: left;
      height: 32px;
      width: 150px;
      margin: 0;
    }
  
    span {
      display: none;
    }
  }
}
