.kc-logo {
  width: 100%;

  &-text {
    background-image: url(../../../common/resources/img/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 320px;
    margin: 0 auto;

    @media (max-width: 767px) {
      margin: 0;
      width: 150px;
      height: 32px;
      background-size: 100%;
    }
  
    span {
      display: none;
    }
  }
}
