textarea.pf-c-form-control {
  height: auto;
}

.pf-c-alert__title {
  font-size: var(--pf-global--FontSize--xs);
}

.pf-c-button.pf-m-control {
  border: solid var(--pf-global--BorderWidth--sm);
  border-color: var(--pf-global--BorderColor--100);
}

.pf-c-form__label {
  &.pf-c-form__label-text{
    padding-bottom: var(--pf-c-form__group-label--PaddingBottom);
  }
}

.btn-default {
  background-image: none;
}
