textarea.pf-c-form-control {
  height: auto;
}

.pf-c-alert__title {
  font-size: var(--pf-global--FontSize--xs);
}

.pf-c-button.pf-m-control {
  border: solid var(--pf-global--BorderWidth--sm);
  border-color: rgba(230, 230, 230, 0.5);
}

.card-pf {
  margin: 0 auto;
  box-shadow: none;
  padding: 0 20px;
  max-width: 500px;
  border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--300);
  border-top: var(--pf-global--BorderWidth--xl) solid var(--pf-global--primary-color--100);
  border-radius: var(--pf-global--BorderRadius--sm);

  form.form-actions .btn {
    float: right;
    margin-left: 10px;
  }
}
