@use "login-pf";
@use "pf-c";
@use "kc-locale";
@use "kc-logo";
@use "kc-header";
@use "kc-container";
@use "kc-content";
@use "kc-username";
@use "kc-form";
@use "kc-info";
@use "kc-tooltip";
@use "kc-oauth";
@use "select-auth";
@use "kc-code";
@use "kc-totp";
@use "kc-select";
@use "kc-social";

p.instruction {
  margin: 0 0 var(--pf-global--spacer--md);
  word-wrap: break-word;
}

.no-bottom-margin {
  margin-bottom: 0;
}

#kc-back {
  margin-top: var(--pf-global--spacer--sm);
}
