.pf-c-nav {
  --pf-c-nav__link--Color: var(--pf-global--Color--200);
  --pf-c-nav__link--hover--Color: var(--pf-global--Color--200);
  --pf-c-nav__link--focus--Color: var(--pf-global--Color--200);
  --pf-c-nav__link--active--Color: var(--pf-global--Color--200);
  --pf-c-nav__link--m-current--Color: var(--pf-global--active-color--100);

  --pf-c-nav__link--hover--BackgroundColor: var(--pf-global--active-color--200);
  --pf-c-nav__link--focus--BackgroundColor: var(--pf-global--active-color--200);
  --pf-c-nav__link--active--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-nav__link--m-current--BackgroundColor: var(--pf-global--active-color--200);

  --pf-c-nav__item--MarginTop: 0;
  --pf-c-nav__link--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-nav__link--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-nav__link--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-nav__link--PaddingLeft: var(--pf-global--spacer--3xl);

  --pf-c-nav__link--FontSize: var(--pf-global--FontSize--sm);

  --pf-c-nav__link--before--BorderColor: transparent;
  --pf-c-nav__link--hover--before--BorderColor: transparent;
  --pf-c-nav__link--focus--before--BorderColor: transparent;
  --pf-c-nav__link--active--before--BorderColor: transparent;
  --pf-c-nav__item--before--BorderWidth: 0;
  --pf-c-nav__link--before--BorderBottomWidth: 0;
  --pf-c-nav__link--hover--before--BorderBottomWidth: 0;
  --pf-c-nav__link--focus--before--BorderBottomWidth: 0x;
  --pf-c-nav__link--active--before--BorderBottomWidth: 0x;
  --pf-c-nav__link--m-current--before--BorderBottomWidth: 0;
  --pf-c-nav__link--before--Size: 20px;

  --pf-c-nav__link--m-current--after--BorderColor: var(--pf-global--active-color--100);
  --pf-c-nav__link--hover--after--BorderLeftWidth: 0;
  --pf-c-nav__link--focus--after--BorderLeftWidth: 0;
  --pf-c-nav__link--active--after--BorderLeftWidth: 0;
  --pf-c-nav__link--m-current--after--BorderLeftWidth: var(--pf-global--BorderWidth--xl);

  --pf-c-nav__subnav__link--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-nav__subnav__link--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-nav__subnav__link--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-nav__subnav__link--PaddingLeft: var(--pf-global--spacer--3xl);

  --pf-c-nav__subnav__link--FontSize: var(--pf-global--FontSize--sm);

  --pf-c-nav__subnav__link--m-current--after--BorderColor: var(--pf-global--active-color--100);
  --pf-c-nav__subnav__link--hover--after--BorderWidth: 0;
  --pf-c-nav__subnav__link--focus--after--BorderWidth: 0;
  --pf-c-nav__subnav__link--active--after--BorderWidth: 0;
  --pf-c-nav__subnav__link--m-current--after--BorderWidth: var(--pf-global--BorderWidth--xl);

  &__link {
    &[aria-expanded="true"] {
      color: var(--pf-global--active-color--100);
    }
    :hover,
    .pf-m-hover {
      color: var(--pf-c-nav__link--hover--Color);
      background-color: var(--pf-c-nav__link--hover--BackgroundColor);
    }
    &::before {
      top: calc((100% - var(--pf-c-nav__link--before--Size)) / 2);
      left: calc(2.25rem - (var(--pf-c-nav__link--before--Size) / 2));
      bottom: 0;
      width: var(--pf-c-nav__link--before--Size);
      height: var(--pf-c-nav__link--before--Size);
      background-color: currentColor;
      mask-image: var(--pf-global--Icon--Mask--file);
      mask-position: center;
      mask-size: contain;
    }
    &[id*="personal-info"]::before {
      mask-image: var(--pf-global--Icon--Mask--account);
    }
    &[id*="security"]::before {
      mask-image: var(--pf-global--Icon--Mask--security);
    }
    &[id*="applications"]::before {
      mask-image: var(--pf-global--Icon--Mask--applications);
    }

    &::after {
      left: unset;
      right: 0;
    }
  }

  &__subnav {
    padding-bottom: 0;
    padding-left: 0;
    --pf-c-nav__link--before--BorderColor: currentColor;
    --pf-c-nav__link--before--Size: var(--pf-global--BorderWidth--xl);

    .pf-c-nav__link::before {
      border-radius: var(--pf-global--BorderWidth--xl);
      mask-image: none;
    }
  }

  &__icon {
    margin-right: 1.2rem;

    svg {
      width: 1.3rem;
      height: 1.3rem;
      fill: currentColor;
      vertical-align: -0.25em;
    }
  }
  
}
