:root {
  --pf-global--palette--white: #fff;
  --pf-global--BackgroundColor--100: #fff;
  --pf-global--BackgroundColor--150: #FAFBFA;
  --pf-global--BackgroundColor--200: #F2F4F2;
  --pf-global--BackgroundColor--light-100: #fff;
  --pf-global--BackgroundColor--light-200: #FAFBFA;
  --pf-global--BackgroundColor--light-300: #F2F4F2;
  --pf-global--BackgroundColor--light-transparent-100: rgba(250, 251, 250, 0.62);
  --pf-global--BackgroundColor--light-transparent-200: rgba(250, 251, 250, 0.32);
  --pf-global--BackgroundColor--dark-100: #1E281F;
  --pf-global--BackgroundColor--dark-200: #464947;
  --pf-global--BackgroundColor--dark-300: #2A2E2B;
  --pf-global--BackgroundColor--dark-400: #555C56;
  --pf-global--BackgroundColor--dark-transparent-100: rgba(3, 3, 3, 0.62);
  --pf-global--BackgroundColor--dark-transparent-200: rgba(3, 3, 3, 0.32);
  --pf-global--Color--100: #1E281F;
  --pf-global--Color--200: #657167;
  --pf-global--Color--300: #464947;
  --pf-global--Color--400: #DCE0DD;
  --pf-global--Color--light-100: #fff;
  --pf-global--Color--light-200: #FAFBFA;
  --pf-global--Color--light-300: #F2F4F2;
  --pf-global--Color--dark-100: #1E281F;
  --pf-global--Color--dark-200: #657167;
  --pf-global--active-color--100: #2D8C3C;
  --pf-global--active-color--200: #EAF3EB;
  --pf-global--active-color--300: #82BE28;
  --pf-global--active-color--400: #C0DF93;
  --pf-global--disabled-color--100: #657167;
  --pf-global--disabled-color--200: #FAFBFA;
  --pf-global--disabled-color--300: #F2F4F2;
  --pf-global--primary-color--100: #2D8C3C;
  --pf-global--primary-color--200: #22692D;
  --pf-global--primary-color--light-100: #2D8C3C;
  --pf-global--primary-color--dark-100: #82BE28;
  --pf-global--secondary-color--100: #657167;
  --pf-global--default-color--100: #EAF3EB;
  --pf-global--default-color--200: #2D8C3C;
  --pf-global--default-color--300: #22692D;
  --pf-global--success-color--100: #52c41a;
  --pf-global--success-color--200: #237804;
  --pf-global--info-color--100: #13c2c2;
  --pf-global--info-color--200: #006d75;
  --pf-global--warning-color--100: #faad14;
  --pf-global--warning-color--200: #ad6800;
  --pf-global--danger-color--100: #ff4d4f;
  --pf-global--danger-color--200: #a8071a;
  --pf-global--danger-color--300: #610813;
  --pf-global--link--Color: #2D8C3C;
  --pf-global--link--Color--hover: #22692D;
  --pf-global--link--Color--light: #2D8C3C;
  --pf-global--link--Color--light--hover: #22692D;
  --pf-global--link--Color--dark: #82BE28;
  --pf-global--link--Color--dark--hover: #C0DF93;
  --pf-global--link--Color--visited: #2D8C3C;
  --pf-global--BorderColor--100: #E5E5E5;
  --pf-global--BorderColor--200: #657167;
  --pf-global--BorderColor--300: #f0f0f0;
  --pf-global--BorderColor--dark-100: #E5E5E5;
  --pf-global--BorderColor--light-100: #ACAFAC;
  --pf-global--BorderRadius--sm: 4px;
  --pf-global--Icon--Mask--file: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
  --pf-global--Icon--Mask--account: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4,18v-0.65c0-0.34,0.16-0.66,0.41-0.81C6.1,15.53,8.03,15,10,15c0.03,0,0.05,0,0.08,0.01c0.1-0.7,0.3-1.37,0.59-1.98 C10.45,13.01,10.23,13,10,13c-2.42,0-4.68,0.67-6.61,1.82C2.51,15.34,2,16.32,2,17.35V20h9.26c-0.42-0.6-0.75-1.28-0.97-2H4z"/><path d="M10,12c2.21,0,4-1.79,4-4s-1.79-4-4-4C7.79,4,6,5.79,6,8S7.79,12,10,12z M10,6c1.1,0,2,0.9,2,2s-0.9,2-2,2 c-1.1,0-2-0.9-2-2S8.9,6,10,6z"/><path d="M20.75,16c0-0.22-0.03-0.42-0.06-0.63l1.14-1.01l-1-1.73l-1.45,0.49c-0.32-0.27-0.68-0.48-1.08-0.63L18,11h-2l-0.3,1.49 c-0.4,0.15-0.76,0.36-1.08,0.63l-1.45-0.49l-1,1.73l1.14,1.01c-0.03,0.21-0.06,0.41-0.06,0.63s0.03,0.42,0.06,0.63l-1.14,1.01 l1,1.73l1.45-0.49c0.32,0.27,0.68,0.48,1.08,0.63L16,21h2l0.3-1.49c0.4-0.15,0.76-0.36,1.08-0.63l1.45,0.49l1-1.73l-1.14-1.01 C20.72,16.42,20.75,16.22,20.75,16z M17,18c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S18.1,18,17,18z"/></svg>');
  --pf-global--Icon--Mask--security: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm0 10.99h7c-.53 4.12-3.28 7.79-7 8.94V12H5V6.3l7-3.11v8.8z"/></svg>');
  --pf-global--Icon--Mask--applications: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3,3v8h8V3H3z M9,9H5V5h4V9z M3,13v8h8v-8H3z M9,19H5v-4h4V19z M13,3v8h8V3H13z M19,9h-4V5h4V9z M13,13v8h8v-8H13z M19,19h-4v-4h4V19z"/></svg>');
  --pf-global--Icon--Mask--key: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 19h-6v-4h-2.68c-1.14 2.42-3.6 4-6.32 4-3.86 0-7-3.14-7-7s3.14-7 7-7c2.72 0 5.17 1.58 6.32 4H24v6h-2v4zm-4-2h2v-4h2v-2H11.94l-.23-.67C11.01 8.34 9.11 7 7 7c-2.76 0-5 2.24-5 5s2.24 5 5 5c2.11 0 4.01-1.34 4.71-3.33l.23-.67H18v4zM7 15c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3zm0-4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z"/></svg>');
  --pf-global--Icon--Mask--list: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none"><path d="M0 0h24v24H0V0z"/><path d="M0 0h24v24H0V0z" opacity=".87"/></g><path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7zm-4 6h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"/></svg>');
  --pf-global--Icon--Mask--plus-circle: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>');
  --pf-global--Icon--Mask--check: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z"/></svg>');
  --pf-global--Icon--Mask--warning: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z"/></svg>');
  --pf-global--Icon--Mask--error: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>');
  --pf-global--Icon--Mask--search: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  --pf-global--Icon--Mask--calendar: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-7 5h5v5h-5z"/></svg>');
  --pf-global--Icon--Mask--clock: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>');
  --pf-global--Icon--Mask--drop_down: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 10l5 5 5-5H7z"/></svg>');
  --pf-global--Icon--Mask--angle-right: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg>');
  --pf-global--Icon--Mask--arrow_forward: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg>');
  --pf-global--Icon--Mask--arrow_back: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>');
  --pf-global--Icon--Bg--check: url('data:image/svg+xml;utf8,<svg fill="%2352c41a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z"/></svg>');
  --pf-global--Icon--Bg--warning: url('data:image/svg+xml;utf8,<svg fill="%23faad14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z"/></svg>');
  --pf-global--Icon--Bg--error: url('data:image/svg+xml;utf8,<svg fill="%23ff4d4f" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>');
  --pf-global--Icon--Bg--search: url('data:image/svg+xml;utf8,<svg fill="%23657167" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  --pf-global--Icon--Bg--calendar: url('data:image/svg+xml;utf8,<svg fill="%23657167" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-7 5h5v5h-5z"/></svg>');
  --pf-global--Icon--Bg--clock: url('data:image/svg+xml;utf8,<svg fill="%23657167" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>');
  --pf-global--Icon--Bg--drop_down: url('data:image/svg+xml;utf8,<svg fill="%23657167" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 10l5 5 5-5H7z"/></svg>');
}

body {
  font-family: var(--pf-global--FontFamily--sans-serif);
  font-size: var(--pf-global--FontSize--md);
  font-weight: var(--pf-global--FontWeight--normal);
  line-height: var(--pf-global--LineHeight--md);
  text-align: left;
  background-color: var(--pf-global--BackgroundColor--light-200);
  color: var(--pf-global--Color--300);
}

p {
  color: var(--pf-global--Color--300);
}

.h1, .h2, h1, h2 {
  font-weight: var(--pf-c-content--h1--FontWeight);
}

.h1, .h2, .h3, h1, h2, h3 {
  margin: 0.67em 0;
}

a {
  color: var(--pf-global--link--Color);
  -webkit-text-decoration: var(--pf-global--link--TextDecoration);
          text-decoration: var(--pf-global--link--TextDecoration);
}
a :hover {
  --pf-global--link--Color: var(--pf-global--link--Color--hover);
  --pf-global--link--TextDecoration: var(--pf-global--link--TextDecoration--hover);
}

.pf-c-button {
  padding: var(--pf-c-button--PaddingTop) var(--pf-c-button--PaddingRight) var(--pf-c-button--PaddingBottom) var(--pf-c-button--PaddingLeft);
  font-size: var(--pf-c-button--FontSize);
  line-height: var(--pf-c-button--LineHeight);
  border-radius: var(--pf-c-button--BorderRadius);
}
.pf-c-button__icon {
  vertical-align: -0.125em;
  margin-right: var(--pf-c-button__icon--m-start--MarginRight);
  margin-left: var(--pf-c-button__icon--m-end--MarginLeft);
}
.pf-c-button__icon.pf-m-start {
  margin-right: var(--pf-c-button__icon--m-start--MarginRight);
  margin-left: 0;
}
.pf-c-button__icon.pf-m-end {
  margin-right: 0;
  margin-left: var(--pf-c-button__icon--m-end--MarginLeft);
}

.pf-c-form-control {
  --pf-c-form-control--BorderTopColor: var(--pf-global--BorderColor--100);
  --pf-c-form-control--BorderRightColor: var(--pf-global--BorderColor--100);
  --pf-c-form-control--BorderBottomColor: var(--pf-global--BorderColor--100);
  --pf-c-form-control--BorderLeftColor: var(--pf-global--BorderColor--100);
  --pf-c-form-control--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-form-control--inset--base: 0.75rem;
  --pf-c-form-control--PaddingTop: calc(var(--pf-c-form-control--inset--base) - var(--pf-global--BorderWidth--sm));
  --pf-c-form-control--PaddingBottom: calc(var(--pf-c-form-control--inset--base) - var(--pf-global--BorderWidth--sm));
  --pf-c-form-control__select--PaddingLeft: calc(var(--pf-c-form-control--inset--base) - var(--pf-c-form-control--BorderWidth));
  --pf-c-form-control--success--BackgroundUrl: var(--pf-global--Icon--Bg--check);
  --pf-c-form-control--m-warning--BackgroundUrl: var(--pf-global--Icon--Bg--warning);
  --pf-c-form-control--invalid--BackgroundUrl: var(--pf-global--Icon--Bg--error);
  --pf-c-form-control--m-search--BackgroundUrl: var(--pf-global--Icon--Bg--search);
  --pf-c-form-control--m-calendar--BackgroundUrl: var(--pf-global--Icon--Bg--calendar);
  --pf-c-form-control--m-clock--BackgroundUrl: var(--pf-global--Icon--Bg--clock);
  --pf-c-form-control__select--BackgroundUrl: var(--pf-global--Icon--Bg--drop_down);
  border-color: var(--pf-c-form-control--BorderBottomColor);
}
.pf-c-form-control:hover {
  --pf-c-form-control--BorderTopColor: var(--pf-c-form-control--focus--BorderBottomColor);
  --pf-c-form-control--BorderRightColor: var(--pf-c-form-control--focus--BorderBottomColor);
  --pf-c-form-control--BorderBottomColor: var(--pf-c-form-control--focus--BorderBottomColor);
  --pf-c-form-control--BorderLeftColor: var(--pf-c-form-control--focus--BorderBottomColor);
}
.pf-c-form-control:focus {
  --pf-c-form-control--BorderTopColor: var(--pf-c-form-control--focus--BorderBottomColor);
  --pf-c-form-control--BorderRightColor: var(--pf-c-form-control--focus--BorderBottomColor);
  --pf-c-form-control--BorderBottomColor: var(--pf-c-form-control--focus--BorderBottomColor);
  --pf-c-form-control--BorderLeftColor: var(--pf-c-form-control--focus--BorderBottomColor);
  padding-bottom: var(--pf-c-form-control--PaddingBottom);
  border-width: var(--pf-c-form-control--focus--BorderBottomWidth);
}
.pf-c-form-control:focus-visible {
  outline: 2px var(--pf-global--active-color--300);
}
.pf-c-form__label-text {
  font-weight: var(--pf-global--FontWeight--normal);
  color: var(--pf-global--Color--200);
}

.pf-c-alert {
  --pf-c-alert--BorderTopWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-alert__title--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-alert--m-success__title--Color: #262626;
  --pf-c-alert--m-danger__title--Color: #262626;
  --pf-c-alert--m-warning__title--Color: #262626;
  --pf-c-alert--m-info__title--Color: #262626;
  --pf-c-alert--m-inline--BackgroundColor: var(--pf-global--default-color--100);
  --pf-c-alert--m-inline--m-success--BackgroundColor: #f4fbef;
  --pf-c-alert--m-inline--m-danger--BackgroundColor: #fff5f5;
  --pf-c-alert--m-inline--m-warning--BackgroundColor: #fffaef;
  --pf-c-alert--m-inline--m-info--BackgroundColor: #eefbfa;
  border: var(--pf-c-alert--BorderTopWidth) solid var(--pf-c-alert--BorderTopColor);
  border-radius: var(--pf-global--BorderRadius--sm);
}
.pf-c-alert.pf-m-inline {
  --pf-c-alert--BorderTopWidth: 0;
}

.pf-icon,
.pficon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.pf-icon::before,
.pficon::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
}
.pf-icon-user::before,
.pficon-user::before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--account);
          mask-image: var(--pf-global--Icon--Mask--account);
}
.pf-icon-security::before,
.pficon-security::before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--security);
          mask-image: var(--pf-global--Icon--Mask--security);
}
.pf-icon-applications::before,
.pficon-applications::before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--applications);
          mask-image: var(--pf-global--Icon--Mask--applications);
}
.pf-icon-key:before,
.pficon-key:before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--key);
          mask-image: var(--pf-global--Icon--Mask--key);
}
.pf-icon-arrow:before,
.pficon-arrow:before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--arrow_back);
          mask-image: var(--pf-global--Icon--Mask--arrow_back);
}

.fa::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
}
.fa-list:before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--list);
          mask-image: var(--pf-global--Icon--Mask--list);
}
.fa-key:before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--key);
          mask-image: var(--pf-global--Icon--Mask--key);
}
.fa-angle-right:before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--angle-right);
          mask-image: var(--pf-global--Icon--Mask--angle-right);
}
.fa-check-circle:before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--check);
          mask-image: var(--pf-global--Icon--Mask--check);
}
.fa-exclamation-circle:before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--error);
          mask-image: var(--pf-global--Icon--Mask--error);
}
.fa-exclamation-triangle:before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--warning);
          mask-image: var(--pf-global--Icon--Mask--warning);
}
.fa-plus-circle::before {
  -webkit-mask-image: var(--pf-global--Icon--Mask--plus-circle);
          mask-image: var(--pf-global--Icon--Mask--plus-circle);
}