.pf-c-card {
  --pf-c-card__title--not--last-child--PaddingBottom: var(--pf-global--spacer--lg);

  box-shadow: none;
  border-radius: var(--pf-global--BorderRadius--sm);
  border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--300);

  &__title {
    h2 {
      flex-direction: row !important;
      align-items: center;
      gap: var(--pf-global--spacer--md);

      .pf-icon {
        font-size: 3rem;
      }
    }
  }
}
