:root {
  --pf-global--palette--white: #fff;
  --pf-global--BackgroundColor--100: #fff;
  --pf-global--BackgroundColor--150: #FAFBFA;
  --pf-global--BackgroundColor--200: #F2F4F2;
  --pf-global--BackgroundColor--light-100: #fff;
  --pf-global--BackgroundColor--light-200: #FAFBFA;
  --pf-global--BackgroundColor--light-300: #F2F4F2;
  --pf-global--BackgroundColor--light-transparent-100: rgba(250, 251, 250, 0.62);
  --pf-global--BackgroundColor--light-transparent-200: rgba(250, 251, 250, 0.32);
  --pf-global--BackgroundColor--dark-100: #1E281F;
  --pf-global--BackgroundColor--dark-200: #464947;
  --pf-global--BackgroundColor--dark-300: #2A2E2B;
  --pf-global--BackgroundColor--dark-400: #555C56;
  --pf-global--BackgroundColor--dark-transparent-100: rgba(3, 3, 3, 0.62);
  --pf-global--BackgroundColor--dark-transparent-200: rgba(3, 3, 3, 0.32);
  --pf-global--Color--100: #1E281F;
  --pf-global--Color--200: #657167;
  --pf-global--Color--300: #464947;
  --pf-global--Color--400: #DCE0DD;
  --pf-global--Color--light-100: #fff;
  --pf-global--Color--light-200: #FAFBFA;
  --pf-global--Color--light-300: #F2F4F2;
  --pf-global--Color--dark-100: #1E281F;
  --pf-global--Color--dark-200: #657167;
  --pf-global--active-color--100: #2D8C3C;
  --pf-global--active-color--200: #EAF3EB;
  --pf-global--active-color--300: #82BE28;
  --pf-global--active-color--400: #C0DF93;
  --pf-global--disabled-color--100: #657167;
  --pf-global--disabled-color--200: #FAFBFA;
  --pf-global--disabled-color--300: #F2F4F2;
  --pf-global--primary-color--100: #2D8C3C;
  --pf-global--primary-color--200: #22692D;
  --pf-global--primary-color--light-100: #2D8C3C;
  --pf-global--primary-color--dark-100: #82BE28;
  --pf-global--secondary-color--100: #657167;

  --pf-global--default-color--100: #EAF3EB;
  --pf-global--default-color--200: #2D8C3C;
  --pf-global--default-color--300: #22692D;
  --pf-global--success-color--100: #52c41a;
  --pf-global--success-color--200: #237804;
  --pf-global--info-color--100: #13c2c2;
  --pf-global--info-color--200: #006d75;
  --pf-global--warning-color--100: #faad14;
  --pf-global--warning-color--200: #ad6800;
  --pf-global--danger-color--100: #ff4d4f;
  --pf-global--danger-color--200: #a8071a;
  --pf-global--danger-color--300: #610813;

  --pf-global--link--Color: #2D8C3C;
  --pf-global--link--Color--hover: #22692D;
  --pf-global--link--Color--light: #2D8C3C;
  --pf-global--link--Color--light--hover: #22692D;
  --pf-global--link--Color--dark: #82BE28;
  --pf-global--link--Color--dark--hover: #C0DF93;
  --pf-global--link--Color--visited: #2D8C3C;

  --pf-global--BorderColor--100: #E5E5E5;
  --pf-global--BorderColor--200: #657167;
  --pf-global--BorderColor--300: #f0f0f0;
  --pf-global--BorderColor--dark-100: #E5E5E5;
  --pf-global--BorderColor--light-100: #ACAFAC;

  --pf-global--BorderRadius--sm: 4px;
}

body {
  font-family: var(--pf-global--FontFamily--sans-serif);
  font-size: var(--pf-global--FontSize--md);
  font-weight: var(--pf-global--FontWeight--normal);
  line-height: var(--pf-global--LineHeight--md);
  text-align: left;
  background-color: var(--pf-global--BackgroundColor--light-200);
  color: var(--pf-global--Color--300);
}

p {
  color: var(--pf-global--Color--300);
}

.h1, .h2, h1, h2 {
  font-weight: var(--pf-c-content--h1--FontWeight);
}

.h1, .h2, .h3, h1, h2, h3 {
  margin: 0.67em 0;
}

a {
  color: var(--pf-global--link--Color);
  text-decoration: var(--pf-global--link--TextDecoration);

  :hover {
    --pf-global--link--Color: var(--pf-global--link--Color--hover);
    --pf-global--link--TextDecoration: var(--pf-global--link--TextDecoration--hover);
  }
}
