.pf-c-button {
  padding: var(--pf-c-button--PaddingTop) var(--pf-c-button--PaddingRight) var(--pf-c-button--PaddingBottom) var(--pf-c-button--PaddingLeft);
  font-size: var(--pf-c-button--FontSize);
  line-height: var(--pf-c-button--LineHeight);
  border-radius: var(--pf-c-button--BorderRadius);
}
