.pf-icon,
.pficon {
  display: inline-flex;

  &::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask-position: center;
    mask-size: contain;
  }

  &-user::before {
    mask-image: var(--pf-global--Icon--Mask--account);
  }
  &-security::before {
    mask-image: var(--pf-global--Icon--Mask--security);
  }
  &-applications::before {
    mask-image: var(--pf-global--Icon--Mask--applications);
  }
  &-key:before {
    mask-image: var(--pf-global--Icon--Mask--key);
  }
  &-arrow:before {
    mask-image: var(--pf-global--Icon--Mask--arrow_back);
  }

}


.fa {

  &::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask-position: center;
    mask-size: contain;
  }

  &-list:before {
    mask-image: var(--pf-global--Icon--Mask--list);
  }
  &-key:before {
    mask-image: var(--pf-global--Icon--Mask--key);
  }
  &-angle-right:before {
    mask-image: var(--pf-global--Icon--Mask--angle-right);
  }
  &-check-circle:before {
    mask-image: var(--pf-global--Icon--Mask--check);
  }
  &-exclamation-circle:before {
    mask-image: var(--pf-global--Icon--Mask--error);
  }
  &-exclamation-triangle:before {
    mask-image: var(--pf-global--Icon--Mask--warning);
  }
  &-plus-circle::before {
    mask-image: var(--pf-global--Icon--Mask--plus-circle);
  }
}
